@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.bg-hero {
  background-image: url("../public/images/bayern.jpg");
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
